body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
.container {
  width: 100%;
  margin: 0 auto;
}
.container .content {
  width: 1249px;
  margin: 0 auto;
  box-sizing: border-box;
}
.container .header {
  background-color: #f6f2f2;
  padding: 28px 0 109px;
}
.container .header .nav {
  background-color: #313030;
}
.container .header .nav .header_nav {
  display: flex;
  width: 535px;
  margin: 0 auto;
}
.container .header .nav .header_nav .item_nav {
  margin: 0 10px;
}
.container .header .nav .header_nav .item_nav a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  padding: 44px 23px 33px;
}
.container .header .nav .header_nav .item_nav a:hover {
  background-color: #ff3f40;
}
.container .header .nav .header_nav .home {
  margin-left: 0;
}
.container .header .nav .header_nav .about_us {
  margin: 0 -5px;
}
.container .header .nav .header_nav .contact {
  margin-left: 17px;
}
.container .header .header_bottom {
  display: flex;
  padding-top: 92px;
}
.container .header .header_bottom .description {
  width: 50%;
}
.container .header .header_bottom .description .h1 {
  font-weight: 800;
  font-size: 60px;
  margin-bottom: 24px;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: .9px;
}
.container .header .header_bottom .description .h1 span {
  letter-spacing: 6px;
}
.container .header .header_bottom .description .text {
  font-size: 16px;
  color: #979494;
  line-height: 1.5;
  margin-bottom: 60px;
}
.container .header .header_bottom .description .btn {
  outline: none;
  cursor: pointer;
  background-color: #ff2d2d;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  padding: 17px 65px;
  border-radius: 5px;
  border: none;
}
.container .header .header_bottom .video_description {
  width: 50%;
}
.container .header .header_bottom .video_description .video {
  padding: 10px 0 0 77px;
}
