body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}
.container {
	width: 100%;
	margin: 0 auto;
	.content {
		width: 1249px;
		margin: 0 auto;
		box-sizing: border-box;
	}
	.header {
		background-color: #f6f2f2;
		padding: 28px 0 109px;
		.nav {
			background-color: #313030;
			.header_nav {
				display: flex;
				width: 535px;
				margin: 0 auto;
				.item_nav {
					margin: 0 10px;
					a {
						display: inline-block;
						text-decoration: none;
						text-transform: uppercase;
						font-size: 14px;
						font-weight: bold;
						color: #fff;
						padding: 44px 23px 33px;
						&:hover{
							background-color: #ff3f40;
						}
					}
				}
				.home {
					margin-left: 0;
				}
				.about_us {
					margin: 0 -5px;
				}
				.contact {
					margin-left: 17px;
				}
			}
		}
		.header_bottom {
			display: flex;
			padding-top: 92px;
			.description {
				width: 50%;
				.h1 {
					font-weight: 800;
					font-size: 60px;
					margin-bottom: 24px;
					text-transform: uppercase;
					line-height: 1.2;
					letter-spacing: .9px;
					span {
						letter-spacing: 6px;
					}
				}
				.text {
					font-size: 16px;
					color: #979494;
					line-height: 1.5;
					margin-bottom: 60px;
				}
				.btn {
					outline: none;
					cursor: pointer;
					background-color: #ff2d2d;
					color: #fff;
					font-size: 18px;
					font-weight: 700;
					padding: 17px 65px;
    				border-radius: 5px;
					border: none;
				}
			}
			.video_description {
				width: 50%;
				.video {
					padding: 10px 0 0 77px;
				}
			}
		}
	}
}